{% include base_path %}

<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Personal Email:</li>
          <li><a href="mailto:{{ site.author.email }}">{{ site.author.email | replace: "@", " [at] " }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://scholar.google.com/citations?user=YOUR_ID" class="icon-button github">
          <i class="ai ai-google-scholar-square icon-github"></i>
          <span></span>
        </a>
        <a href="https://github.com/{{ site.author.github }}" class="icon-button github">
          <i class="fa fa-github icon-github"></i>
          <span></span>
        </a>
        <a href="mailto:{{ site.author.email }}" class="icon-button github">
          <i class="fa fa-envelope icon-github"></i>
          <span></span>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">Last updated: {{ site.time | date: '%b, %Y' }}.<br>The style of this website is borrowed from <a href="https://github.com/Espere-1119-Song/Espere-1119-Song.github.io">Espere-1119-Song</a>'s.</p>
      </div>
    </div>
  </div>
</footer>
