body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px
}

body,
html {
    height: 100%
}

body {
    z-index: initial;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
    background-color: #f9f9f9;
    -webkit-text-size-adjust: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,
ol {
    margin-left: 30px
}

li>ul,
li>ol {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}

a {
    color: #2a7ae2;
    text-decoration: none
}

a:visited {
    color: #1756a9
}

a:hover {
    color: #111;
    text-decoration: underline
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: scroll
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.wrapper {
    max-width: -webkit-calc(1024px - (30px * 2));
    max-width: calc(1024px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(1024px - (30px));
        max-width: calc(1024px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after,
.footer-col-wrapper:after,
.cover:after,
.profile-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.text-grey-light {
    color: #e8e8e8
}

.text-grey-bright {
    color: #fff
}

.text-grey {
    color: #828282
}

.site-header {
    border-top: 3px solid #6c86ad;
    border-bottom: 1px solid #e4eaf2;
    min-height: 56px;
    position: relative
}

.site-title {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif, Helvetica;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left
}

.site-title,
.site-title:visited {
    color: #002336
}

.site-nav {
    display: flex;
    justify-content: center;
    line-height: 56px;
    z-index: 3
}

.site-nav .menu-icon {
    display: none !important
}

.site-nav .page-link {
    font-weight: 400;
    color: #002336;
    line-height: 1.5
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #f9f9f9;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }

    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px
    }

    .site-nav .menu-icon>svg path {
        fill: #113f7c
    }

    .site-nav .trigger {
        clear: both;
        display: none
    }

    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }

    .site-nav .page-link {
        font-weight: 400;
        display: block;
        padding: 5px 10px
    }
}

.site-footer {
    border-top: 1px solid #e4eaf2;
    padding: 30px 0
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px
}

.footer-col-1 {
    width: -webkit-calc(25% - (30px / 2));
    width: calc(25% - (30px / 2))
}

.footer-col-2 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2))
}

.footer-col-3 {
    width: -webkit-calc(40% - (30px / 2));
    width: calc(40% - (30px / 2))
}

@media screen and (max-width: 800px) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.page-content {
    padding: 30px 0
}

.text-center {
    text-align: center
}

.sm-heading {
    font-size: 20px;
    font-color: #6c86ad;
    font-weight: 300
}

.md-heading {
    font-size: 24px;
    font-color: #6c86ad;
    font-weight: 400
}

.lg-heading {
    font-size: 30px;
    font-color: #6c86ad;
    font-weight: 600
}

.button {
    padding: 10px;
    margin-top: 25px
}

.button a {
    border: solid 1px #e0e0e0;
    border-radius: 0.2rem;
    color: #868686;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 2.0rem;
    text-decoration: none
}

.button em {
    border: solid 1px #e0e0e0;
    border-radius: 0.2rem;
    color: #868686;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem
}

.button>.heading>a:hover {
    color: #fff;
    background-color: #292929;
    border: solid 1px #292929
}

.highlight {
    background: #fff
}

.highlight .c {
    color: #998;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
}

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #458;
    font-weight: bold
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #900;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}

.cover {
    max-width: 100%;
    height: 320px;
    z-index: initial;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px
}

@media screen and (max-width: 800px) {
    .cover {
        max-width: -webkit-calc(1024px - (30px));
        max-width: calc(1024px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

@media screen and (max-width: 600px) {
    .cover {
        height: 400px
    }
}

.profile-wrapper {
    border-radius: 25px;
    position: relative;
    top: 20%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.9)
}

@media screen and (max-width: 600px) {
    .profile-wrapper {
        top: 5%;
        border-radius: 25px;
        position: relative;
        width: -webkit-calc(90% - (30px / 2));
        width: calc(90% - (30px / 2));
        margin-left: auto;
        margin-right: auto
    }
}

.profile-col {
    float: left !important;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.profile-col-1 {
    width: -webkit-calc(40% - (30px / 2));
    width: calc(40% - (30px / 2))
}

.profile-col-2 {
    width: -webkit-calc(60% - (30px / 2));
    width: calc(60% - (30px / 2))
}

@media screen and (max-width: 800px) {
    .profile-col-1,
    .profile-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .profile-col {
        position: relative;
        margin: 10px auto;
        float: none;
        width: -webkit-calc(100%);
        width: calc(100%)
    }
}

.circle-img {
    margin: 0px auto;
    width: 168px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: #6c86ad
}

#my-name {
    font-size: 32px;
    font-weight: bold;
    color: #292929
}

#my-title {
    font-size: 24px;
    color: #292929;
    font-weight: 200;
    margin-top: 14px;
}

#my-email {
    font-size: 16px;
    color: #292929;
    font-weight: 160
}

@media screen and (max-width: 600px) {
    #my-title {
        display: none
    }
}

.social-media {
    margin-top: 20px;
}

.icon-button {
    background-color: white;
    border-radius: 3.2rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    height: 3.2rem;
    line-height: 3rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.2rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 3.2rem;
    margin: -1.5rem;
}

.github span {
    background-color: #000
}

.icon-button i {
    background: none;
    color: white;
    height: 3.2rem;
    left: 0;
    line-height: 3.2rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.2rem;
    z-index: 10
}

.icon-button .icon-github {
    color: #000
}

.icon-button:hover .icon-github {
    color: white
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #6c86ad;
    background-color: rgba(235, 235, 235, 0.8);
    font-size: 16px;
    font-weight: bold;
    padding: 1em;
    display: none
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.5)
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.publications {
    max-width: -webkit-calc(100% - (30px / 2));
    max-width: calc(100% - (30px / 2));
    margin-top: 10px;
    font-family: 'Roboto', sans-serif, Helvetica
}

.bio {
    max-width: -webkit-calc(100% - (30px / 2));
    max-width: calc(100% - (30px / 2));
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width: 600px) {
    .bio {
        max-width: -webkit-calc(100% - (30px / 2));
        max-width: calc(100% - (30px / 2))
    }
}

.bio-body {
    margin: 5px;
    padding: 0px
}
